# R语言入门教程 
## 基本语法
### by torus

In [1]:
x1<-1:4#== x1=c(1,2,3,4)
x1

[1] 1 2 3 4

In [3]:
x3<-c(TRUE,10,"a")
x3
class(x3)

[1] "TRUE" "10"   "a"

[1] "character"

In [6]:
x1<-1:4
x1

names(x1)<-c("name1","name2","hehe")
x1

[1] 1 2 3 4

name1 name2  hehe  <NA>
    1     2     3     4

In [2]:
x=matrix(1:6,nrow=3,ncol=6)
x

dim(x)

     [,1] [,2] [,3] [,4] [,5] [,6]
[1,] 1    4    1    4    1    4
[2,] 2    5    2    5    2    5
[3,] 3    6    3    6    3    6

[1] 3 6

In [4]:
x=matrix(1:4,nrow=2,ncol=2)
y=matrix(5:8,nrow=2,ncol=2)

rbind(x,y)

cbind(x,y)

     [,1] [,2]
[1,] 1    3
[2,] 2    4
[3,] 5    7
[4,] 6    8

     [,1] [,2] [,3] [,4]
[1,] 1    3    5    7
[2,] 2    4    6    8

In [6]:
#array can have more than 2 dimensian
x<-array(1:24,dim=c(2,3,4))
x

, , 1

     [,1] [,2] [,3]
[1,]    1    3    5
[2,]    2    4    6

, , 2

     [,1] [,2] [,3]
[1,]    7    9   11
[2,]    8   10   12

, , 3

     [,1] [,2] [,3]
[1,]   13   15   17
[2,]   14   16   18

, , 4

     [,1] [,2] [,3]
[1,]   19   21   23
[2,]   20   22   24

In [12]:
li=list(c(1,2),"character",TRUE,3+4i)
li

lis=list(a=1,b=2)#list like hush 
lis   #list like hash table

[[1]]
[1] 1 2

[[2]]
[1] "character"

[[3]]
[1] TRUE

[[4]]
[1] 3+4i

$a
[1] 1

$b
[1] 2

In [15]:
x=matrix(1:6,nrow=2,ncol=3)
dimnames(x)<-list(c("r1","r2"),c("c1","c2","c3"))
x

   c1 c2 c3
r1 1  3  5
r2 2  4  6

In [25]:
x=factor(c("a","b","b","b"))

1
x
2
levels(x)
3
table(x)
4
unclass(x)

[1] 1

[1] a b b b
Levels: a b

[1] 2

[1] "a" "b"

[1] 3

x
a b
1 3

[1] 4

[1] 1 2 2 2
attr(,"levels")
[1] "a" "b"

[1] 5

NULL

In [27]:
dt=data.frame(id=c(1,2,3),name=c("a","b","c"))

dt

nrow(dt)#ncol

data.matrix(dt)#seem the same ?

  id name
1 1  a
2 2  b
3 3  c

[1] 3

     id name
[1,] 1  1
[2,] 2  2
[3,] 3  3

In [40]:
1
date()

2
Sys.Date()
class(Sys.Date())

3
x3=as.Date("1997-6-30")
x3

4
weekdays(x3)
months(x3)
quarters(x3)
julian(x3) #from 1970_01_01

5
delta=x3-as.Date("1997-5-22")
class(delta)
as.numeric(delta)

[1] 1

[1] "Sat Dec 16 19:55:43 2017"

[1] 2

[1] "2017-12-16"

[1] "Date"

[1] 3

[1] "1997-06-30"

[1] 4

[1] "星期一"

[1] "六月"

[1] "Q2"

[1] 10042
attr(,"origin")
[1] "1970-01-01"

[1] 5

[1] "difftime"

[1] 39

In [49]:
Sys.time()
class(Sys.time())
class(as.POSIXlt(Sys.time()))
names(unclass(as.POSIXlt(Sys.time())))
as.POSIXlt(Sys.time())$sec#change with now

[1] "2017-12-16 19:59:39 CST"

[1] "POSIXct" "POSIXt"

[1] "POSIXlt" "POSIXt"

 [1] "sec"    "min"    "hour"   "mday"   "mon"    "year"   "wday"   "yday"
 [9] "isdst"  "zone"   "gmtoff"

[1] 39.03232

In [55]:
t<-"june 30,1997 01:01"
strptime(t,"%B %d,%Y %H:%M")
t

[1] NA

[1] "june30,1997 01:01"

In [57]:
x<-c(1,2,3)
x[x>2]
x[x>2|x<2]

[1] 3

[1] 1 3

In [63]:
y<-1:3
names(y)<-c("a","b","c")
y
y["a"]

a b c
1 2 3

a
1

In [ ]:
y<-matrix(1:6,nrow=3,ncol=2)
y
y[c(2,3),2]

In [67]:
x<-data.frame(v1=c(1,2,3),v2=c(4,5,6))
x
x$v2[c(1,3)]=NA
x[,"v2"]

  v1 v2
1 1  4
2 2  5
3 3  6

[1] NA  5 NA

In [69]:
x=data.frame(v1=c(1,2,3),v2=c(4,5,6))
x[x$v1>1 & x$v2<6]
x[which(x$v1>1 & x$v2<6)]

  v2
1 4
2 5
3 6

  v2
1 4
2 5
3 6

In [71]:
x<-data.frame(v1=c(1,2,3),v2=c(4,5,6))
x
subset(x,x$v1>2)

  v1 v2
1 1  4
2 2  5
3 3  6

  v1 v2
3 3  6

In [76]:
x<-c(NA,2,'x')
y<-c(1,NA,'y')
z<-complete.cases(x,y)
x[z]
y[z]

[1] "x"

[1] "y"

In [77]:
head(airquality)

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

In [79]:
g<-complete.cases(airquality)
airquality[1:10,]
airquality[g,][1:10,]#washed delete NA

   Ozone Solar.R Wind Temp Month Day
1  41    190      7.4 67   5      1
2  36    118      8.0 72   5      2
3  12    149     12.6 74   5      3
4  18    313     11.5 62   5      4
5  NA     NA     14.3 56   5      5
6  28     NA     14.9 66   5      6
7  23    299      8.6 65   5      7
8  19     99     13.8 59   5      8
9   8     19     20.1 61   5      9
10 NA    194      8.6 69   5     10

   Ozone Solar.R Wind Temp Month Day
1  41    190      7.4 67   5      1
2  36    118      8.0 72   5      2
3  12    149     12.6 74   5      3
4  18    313     11.5 62   5      4
7  23    299      8.6 65   5      7
8  19     99     13.8 59   5      8
9   8     19     20.1 61   5      9
12 16    256      9.7 69   5     12
13 11    290      9.2 66   5     13
14 14    274     10.9 68   5     14

In [84]:
matrix(1:4,2,2)*matrix(1:4,2,2)#dot *
matrix(1:4,2,2)%*%matrix(1:4,2,2)

     [,1] [,2]
[1,] 1     9
[2,] 4    16

     [,1] [,2]
[1,]  7   15
[2,] 10   22

In [87]:
x<-list(a=c(1,2,3),b=c(4,5,6))
1
x
2
lapply(x,mean)
3

[1] 1

$a
[1] 1 2 3

$b
[1] 4 5 6

[1] 2

$a
[1] 2

$b
[1] 5

In [90]:
lapply(c(1,1,3),runif,min=0,max=100)

[[1]]
[1] 63.79905

[[2]]
[1] 94.19368

[[3]]
[1]  4.750393 22.957440 70.182708

In [97]:
x<-list(a=matrix(1:6,2,3),b=matrix(4:7,2,2))

1
x
2
lapply(x,function(m) m[1,])
3
sapply(x,mean)

[1] 1

$a
     [,1] [,2] [,3]
[1,]    1    3    5
[2,]    2    4    6

$b
     [,1] [,2]
[1,]    4    6
[2,]    5    7

[1] 2

$a
[1] 1 3 5

$b
[1] 4 6

[1] 3

  a   b
3.5 5.5

In [101]:
#rowSums(x)
#rowMeans(x)
#colSums(x)
#colMeans(x)
x<-matrix(1:4,2,2)
x
apply(x,2,mean)#2 means col
apply(x,2,sum)

     [,1] [,2]
[1,] 1    3
[2,] 2    4

[1] 1.5 3.5

[1] 3 7

In [117]:
x<-matrix(rnorm(9),3,3)
x
matrix(sort(x))

apply(x,1,quantile,prob=c(0.25,0.75))# what?

     [,1]       [,2]       [,3]
[1,]  1.1012799 -1.3648225 1.649086
[2,] -1.8850527 -0.4249943 1.416628
[3,] -0.3506469 -1.7253137 2.044902

      [,1]
 [1,] -1.8850527
 [2,] -1.7253137
 [3,] -1.3648225
 [4,] -0.4249943
 [5,] -0.3506469
 [6,]  1.1012799
 [7,]  1.4166278
 [8,]  1.6490856
 [9,]  2.0449016

    [,1]       [,2]       [,3]
25% -0.1317713 -1.1550235 -1.0379803
75%  1.3751827  0.4958168  0.8471273

In [125]:
x<-array(1:12,c(2,3,2))
x[,,1]
x[,,2]
1
apply(x,c(1,2),mean)

2
apply(x,c(2,3),mean)

3
apply(x,c(1,3),mean)

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

     [,1] [,2] [,3]
[1,] 7     9   11
[2,] 8    10   12

[1] 1

     [,1] [,2] [,3]
[1,] 4    6    8
[2,] 5    7    9

[1] 2

     [,1] [,2]
[1,] 1.5   7.5
[2,] 3.5   9.5
[3,] 5.5  11.5

[1] 3

     [,1] [,2]
[1,] 3     9
[2,] 4    10

In [127]:
list(rep(1,1),rep(3,2))
mapply(rep,c(1,3),c(1,2))

[[1]]
[1] 1

[[2]]
[1] 3 3

[[1]]
[1] 1

[[2]]
[1] 3 3

In [128]:
s<-function(a,b){
    a+b
}

mapply(s,1,2)

[1] 3

In [133]:
rnorm(3,2,1)#n,mean,std

[1] 1.128645 2.094020 1.709324

In [140]:
x<-c(1:5,1:5,1:5)
x

f<-gl(3,5)
f

tapply(x,f,mean)
#tapply(x,f,mean,simplify=FALSE)

 [1] 1 2 3 4 5 1 2 3 4 5 1 2 3 4 5

 [1] 1 1 1 1 1 2 2 2 2 2 3 3 3 3 3
Levels: 1 2 3

1 2 3
3 3 3

In [142]:
table(airquality$Month)

 5  6  7  8  9
31 30 31 31 30

In [159]:
s<-split(airquality,airquality$Month)#split by month

lapply(s,
      function(x)
          colMeans(x[,c("Ozone","Wind")])
)
          
lapply(s,
      function(x)
          colMeans(x[,c("Ozone","Wind")],na.rm=TRUE)
      
)

$`5`
   Ozone     Wind
      NA 11.62258

$`6`
   Ozone     Wind
      NA 10.26667

$`7`
   Ozone     Wind
      NA 8.941935

$`8`
   Ozone     Wind
      NA 8.793548

$`9`
Ozone  Wind
   NA 10.18

$`5`
   Ozone     Wind
23.61538 11.62258

$`6`
   Ozone     Wind
29.44444 10.26667

$`7`
    Ozone      Wind
59.115385  8.941935

$`8`
    Ozone      Wind
59.961538  8.793548

$`9`
   Ozone     Wind
31.44828 10.18000

In [172]:
x<-data.frame(v1=c(1,3,2),v2=c(2,3,1))
x
1
sort(x$v1,decreasing=TRUE)

2
x[order(x$v1),]#rate by v1

3 #first v2,then sort the v4
x[order(x$v2,x$v1),]

  v1 v2
1 1  2
2 3  3
3 2  1

[1] 1

[1] 3 2 1

[1] 2

  v1 v2
1 1  2
3 2  1
2 3  3

[1] 3

  v1 v2
3 2  1
1 1  2
2 3  3

In [173]:
head(airquality,2)#first count from 1-2
tail(airquality,2)#the last 6 ones

  Ozone Solar.R Wind Temp Month Day
1 41    190     7.4  67   5     1
2 36    118     8.0  72   5     2

    Ozone Solar.R Wind Temp Month Day
152 18    131      8.0 76   9     29
153 20    223     11.5 68   9     30

In [174]:
summary(airquality)

     Ozone           Solar.R           Wind             Temp
 Min.   :  1.00   Min.   :  7.0   Min.   : 1.700   Min.   :56.00
 1st Qu.: 18.00   1st Qu.:115.8   1st Qu.: 7.400   1st Qu.:72.00
 Median : 31.50   Median :205.0   Median : 9.700   Median :79.00
 Mean   : 42.13   Mean   :185.9   Mean   : 9.958   Mean   :77.88
 3rd Qu.: 63.25   3rd Qu.:258.8   3rd Qu.:11.500   3rd Qu.:85.00
 Max.   :168.00   Max.   :334.0   Max.   :20.700   Max.   :97.00
 NA's   :37       NA's   :7
     Month            Day
 Min.   :5.000   Min.   : 1.0
 1st Qu.:6.000   1st Qu.: 8.0
 Median :7.000   Median :16.0
 Mean   :6.993   Mean   :15.8
 3rd Qu.:8.000   3rd Qu.:23.0
 Max.   :9.000   Max.   :31.0

In [184]:
table(airquality$Month+airquality$Day)

 6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31
 1  2  3  4  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5
32 33 34 35 36 37 38 39
 5  5  5  5  5  3  3  2

In [177]:
sum(is.na(airquality$Ozone))
#sum how many NAs
any(is.na(airquality$Ozone))
# have?
all(airquality$Month<12)
# so humannity

[1] 37

[1] TRUE

In [182]:
titanic<-as.data.frame(Titanic)
head(titanic,2)

x<-xtabs(Freq~Class+Age,data=titanic)
ftable(x)

  Class Sex  Age   Survived Freq
1 1st   Male Child No       0
2 2nd   Male Child No       0

      Age Child Adult
Class
1st           6   319
2nd          24   261
3rd          79   627
Crew          0   885

In [185]:
object.size(airquality)
print(object.size(airquality),units="Kb")

5496 bytes

5.4 Kb