In [13]:


x<-vector("character",length=10)
x1<-1:4
x1
x2<-c(1,2,3,4)
x3<-c(TRUE,10,"a")
x3
class(x3)
as.logical()# transform

names(x1)<-c("name1","name2","hehe")
x1

[1] 1 2 3 4

[1] "TRUE" "10"   "a"

[1] "character"

logical(0)

name1 name2  hehe  <NA>
    1     2     3     4

In [23]:
x<-matrix(1:6,nrow=3,ncol=6)
x

dim(x)

attributes(x)

y<-1:6
dim(y)<-c(2,3)
y   # element first ,size second

     [,1] [,2] [,3] [,4] [,5] [,6]
[1,] 1    4    1    4    1    4
[2,] 2    5    2    5    2    5
[3,] 3    6    3    6    3    6

[1] 3 6

$dim
[1] 3 6

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

In [26]:
y<-matrix(1:6,nrow=2,ncol=3)
rbind(y,y,y)

cbind(y,y)

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6
[3,] 1    3    5
[4,] 2    4    6
[5,] 1    3    5
[6,] 2    4    6

     [,1] [,2] [,3] [,4] [,5] [,6]
[1,] 1    3    5    1    3    5
[2,] 2    4    6    2    4    6

In [32]:
x<-array(1:24,dim=c(2,3,4))
x#r studio is not this

, , 1

     [,1] [,2] [,3]
[1,]    1    3    5
[2,]    2    4    6

, , 2

     [,1] [,2] [,3]
[1,]    7    9   11
[2,]    8   10   12

, , 3

     [,1] [,2] [,3]
[1,]   13   15   17
[2,]   14   16   18

, , 4

     [,1] [,2] [,3]
[1,]   19   21   23
[2,]   20   22   24

In [34]:
li=list(1,"t",TRUE,3+4i)
li

[[1]]
[1] 1

[[2]]
[1] "t"

[[3]]
[1] TRUE

[[4]]
[1] 3+4i

In [36]:
# strange
lis=list(a=2,'c'=1)
lis

$a
[1] 2

$c
[1] 1

In [38]:
l3=list(c(1,2),3)
l3

[[1]]
[1] 1 2

[[2]]
[1] 3

In [45]:
 x=matrix(1:6,nrow=2,ncol=3)

 dimnames(x)<-list(c("1r","2r"),c("1c","2c","3c"))
x

   1c 2c 3c
1r 1  3  5
2r 2  4  6

In [53]:
x<-factor(c("dog","cat","cat","cat"))
x
levels(x)
table(x)
unclass(x)

[1] dog cat cat cat
Levels: cat dog

[1] "cat" "dog"

x
cat dog
  3   1

[1] 2 1 1 1
attr(,"levels")
[1] "cat" "dog"

In [60]:
dt<-data.frame(id=c(1,2,3),name=c("a","b","c"))
dt
nrow(dt)
ncol(dt)

data.matrix(dt) #need only one kind one col

  id name
1 1  a
2 2  b
3 3  c

[1] 3

[1] 2

     id name
[1,] 1  1
[2,] 2  2
[3,] 3  3

In [80]:
x<-date()
x

x2<-Sys.Date()
x2
class(x2)

x3<-as.Date("1997-6-30")
x3

weekdays(x3)
months(x3)
quarters(x3)
julian(x3)#from 1970_01-01

x4<-as.Date("1997-5-22")
x3-x4
class(x3-x4)
as.numeric(x3-x4)

[1] "Tue Dec 12 16:41:32 2017"

[1] "2017-12-12"

[1] "Date"

[1] "1997-06-30"

[1] "星期一"

[1] "六月"

[1] "Q2"

[1] 10042
attr(,"origin")
[1] "1970-01-01"

Time difference of 39 days

[1] "difftime"

[1] 39

In [99]:
t=Sys.time()#time is not data "2017-12-12 16:56:41 CST"

class(t)

t=as.POSIXlt(t)#as.POSIXct is oppsite change

class(t)

names(unclass(t))

t$sec

[1] "POSIXct" "POSIXt"

[1] "POSIXlt" "POSIXt"

 [1] "sec"    "min"    "hour"   "mday"   "mon"    "year"   "wday"   "yday"
 [9] "isdst"  "zone"   "gmtoff"

[1] 10.72415

In [110]:
t<-"jan 1, 1997 01:01"

strptime(t, "%B %d, %Y %H:%M")
t

[1] NA

[1] "jan 1, 1997 01:01"

In [3]:
x<-1:10
x[x>5]
x[x>5 & x<7]
x[x<3|x>7]

[1]  6  7  8  9 10

[1] 6

[1]  1  2  8  9 10

In [9]:
y<-1:3
names(y)<-c("a","b","c")
y
y["a"]

a b c
1 2 3

a
1

In [13]:
y<-matrix(1:6,nrow=3,ncol=2)
y
y[c(2,3),2]

     [,1] [,2]
[1,] 1    4
[2,] 2    5
[3,] 3    6

[1] 5 6

In [26]:
x=data.frame(v1=c(1,2,3),v2=c(4,5,6))
x$v2[c(1,3)]=NA
x[2]
x[,"v2"]

  v2
1 NA
2  5
3 NA

[1] NA  5 NA

In [8]:
x=data.frame(v1=c(1,2,3,4,5),v2=c(6,7,8,9,10),v3=c(11,12,13,14,15))

x

x[(x$v1<4 & x$v2>=8),]
x[which(x$v1>3),]#nothing special to "which"

  v1 v2 v3
1 1   6 11
2 2   7 12
3 3   8 13
4 4   9 14
5 5  10 15

  v1 v2 v3
3 3  8  13

  v1 v2 v3
4 4   9 14
5 5  10 15

In [10]:
x=data.frame(v1=c(1,2,3,4,5),v2=c(6,7,8,9,10),v3=c(11,12,13,14,15))
subset(x,x$v1>2)

  v1 v2 v3
3 3   8 13
4 4   9 14
5 5  10 15

In [3]:
x<-c(1,NA,2)
y<-c(NA,2,3)
z<-complete.cases(x,y)
z

[1] FALSE FALSE  TRUE

In [7]:
library(datasets)
head(airquality)

g<-complete.cases(airquality)

airquality[g,][1:10,]

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

   Ozone Solar.R Wind Temp Month Day
1  41    190      7.4 67   5      1
2  36    118      8.0 72   5      2
3  12    149     12.6 74   5      3
4  18    313     11.5 62   5      4
7  23    299      8.6 65   5      7
8  19     99     13.8 59   5      8
9   8     19     20.1 61   5      9
12 16    256      9.7 69   5     12
13 11    290      9.2 66   5     13
14 14    274     10.9 68   5     14

In [14]:

x<-matrix(1:4,nrow=2,ncol=2)
y<-matrix(rep(2,4),nrow=2,ncol=2)
x
y
x*y

x%*%y # the matrix complex

     [,1] [,2]
[1,] 1    3
[2,] 2    4

     [,1] [,2]
[1,] 2    2
[2,] 2    2

     [,1] [,2]
[1,] 2    6
[2,] 4    8

     [,1] [,2]
[1,]  8    8
[2,] 12   12

In [20]:

str(lapply)

x<-list(a=c(1,2,3),b=c(4,5,6))

lapply(x,mean)

lapply(c(1,2,3),runif)
lapply(c(1,2,3),runif,min=0,max=10000)

function (X, FUN, ...)

$a
[1] 2

$b
[1] 5

[[1]]
[1] 0.3466353

[[2]]
[1] 0.60594544 0.06802982

[[3]]
[1] 0.6277245 0.2776078 0.5058342

[[1]]
[1] 8687.817

[[2]]
[1]  188.1368 7952.2523

[[3]]
[1] 7715.306 5827.438 7746.418

In [26]:
x<-list(a=matrix(1:6,2,3),b=matrix(4:7,2,2))
x
lapply(x,function(m) m[1,])
sapply(x,mean)

$a
     [,1] [,2] [,3]
[1,]    1    3    5
[2,]    2    4    6

$b
     [,1] [,2]
[1,]    4    6
[2,]    5    7

$a
[1] 1 3 5

$b
[1] 4 6

  a   b
3.5 5.5

In [30]:
x<-matrix(1:16,4,4)
apply(x,2,mean) # based on col
apply(x,2,sum)

rowSums(x)
rowMeans(x)
colSums(x)
colMeans(x)

[1]  2.5  6.5 10.5 14.5

[1] 10 26 42 58

[1] 28 32 36 40

[1]  7  8  9 10

[1] 10 26 42 58

[1]  2.5  6.5 10.5 14.5

In [33]:
x<-matrix(rnorm(100),10,10)
x
apply(x,1,quantile,prob=c(0.25,0.75))

      [,1]       [,2]        [,3]       [,4]        [,5]       [,6]
 [1,]  0.2274729  0.76000201 -0.9629515  2.48187629 -3.1737563  0.31063194
 [2,] -0.6273342  0.53395317  1.0580961  1.05283506  0.6638709 -0.05374400
 [3,]  0.9273450 -0.55019154 -0.2244564 -1.09998778 -0.3946980 -0.96314731
 [4,] -0.5099330 -1.04293720 -1.3900184 -0.88972566  0.7959043  0.92339352
 [5,]  0.1540325 -0.85872916 -0.1934207  0.36583852  1.7924429 -1.21943926
 [6,]  0.2775454 -1.54705976  1.1773746  0.01188422  0.7444310 -1.15870907
 [7,] -0.1827119 -0.37444653  0.6234525 -1.04331181  0.3266275  0.03114649
 [8,]  0.7517097 -1.08160000  0.2319280 -0.50019422 -0.7215730  1.92699700
 [9,]  1.5480184  0.06569576 -0.4436965 -0.75112360 -0.3465589  0.85908461
[10,] -0.6167123  0.41490067 -1.4376344 -0.16446728  1.4587675 -0.92029202
      [,7]       [,8]        [,9]        [,10]
 [1,]  1.5088037 -0.47802844  0.75539358 -0.524155592
 [2,] -0.2306375  0.60121901  0.91645247 -0.629594005
 [3,] -0.3574458  0.71702718  0.95365039  1.794292913
 [4,]  1.6871493 -0.84157953 -2.23136885 -1.322134649
 [5,]  0.3925458  0.71994826 -1.00861865 -0.009853168
 [6,] -0.5096429 -0.69657499 -0.69123192  0.189571832
 [7,] -0.4865406 -0.85546893 -0.09202021 -0.384923898
 [8,]  0.1074338 -0.06980597  0.61481921 -1.066941323
 [9,]  1.3336705 -0.27260671  1.48732616  0.793656522
[10,] -0.6525547  0.86968122 -0.45486814 -1.581098710

    [,1]       [,2]       [,3]       [,4]      [,5]      [,6]
25% -0.5126238 -0.1864141 -0.5113182 -1.252335 -0.692402 -0.6952392
75%  0.7588499  0.8533071  0.8747655  0.469445  0.385869  0.2555520
    [,7]          [,8]       [,9]       [,10]
25% -0.4611364046 -0.6662283 -0.3280709 -0.8533577
75%  0.0003548172  0.5190964  1.2150241  0.2700587

In [52]:

x<-array(rnorm(2*3*4),c(2,3,4))
x
apply(x,c(1,2),mean)#dimension 1 and 2,compress the third dimension
apply(x,c(1,3),mean)*3 #2*4
apply(x,c(2,3),mean)  #3*4

, , 1

          [,1]       [,2]       [,3]
[1,] -0.969545  0.3763498 -1.1077793
[2,] -1.846584 -0.6914162 -0.3134399

, , 2

            [,1]       [,2]       [,3]
[1,]  0.78834621 -0.5276001  0.1522375
[2,] -0.05629499 -0.8239323 -0.3572924

, , 3

           [,1]       [,2]       [,3]
[1,]  2.1464923 -0.5114277 -0.0216034
[2,] -0.3741572 -2.3080011  2.2377945

, , 4

            [,1]       [,2]        [,3]
[1,]  0.53671035 -1.1035117 -0.15578142
[2,] -0.01087883  0.4794624  0.03386859

     [,1]       [,2]       [,3]
[1,]  0.6255010 -0.4415474 -0.2832317
[2,] -0.5719788 -0.8359718  0.4002327

     [,1]      [,2]       [,3]       [,4]
[1,] -1.700974  0.4129837  1.6134612 -0.7225828
[2,] -2.851440 -1.2375197 -0.4443638  0.5024521

     [,1]       [,2]       [,3]       [,4]
[1,] -1.4080645  0.3660256  0.8861675  0.26291576
[2,] -0.1575332 -0.6757662 -1.4097144 -0.31202466
[3,] -0.7106096 -0.1025274  1.1080956 -0.06095641

In [54]:
list(rep(1,4),rep(2,3),rep(3,2),rep(4,1))

#or

mapply(rep,1:4,4:1)

[[1]]
[1] 1 1 1 1

[[2]]
[1] 2 2 2

[[3]]
[1] 3 3

[[4]]
[1] 4

[[1]]
[1] 1 1 1 1

[[2]]
[1] 2 2 2

[[3]]
[1] 3 3

[[4]]
[1] 4

In [59]:
s<-function(n,mean,std){
    rnorm(n,mean,std)
}
s(10,0,1)


mapply(s,1:5,5:1,2)

 [1]  1.2123290 -1.7644289 -0.6354895  0.9863441 -2.0338650 -0.2902446
 [7]  0.6044981  1.5577441  0.7236131 -0.7502732

[[1]]
[1] 4.59827

[[2]]
[1] 3.574460 5.084091

[[3]]
[1] 3.426241 3.609167 2.985921

[[4]]
[1]  6.653309 -0.989850  2.880983  4.200569

[[5]]
[1]  3.8415659  2.1164591 -0.1024967  0.7765326  7.3061807

In [66]:
x<-c(rnorm(5),runif(5),rnorm(5,1))
x

f<-gl(3,5)
f

tapply(x,f,mean)
tapply(x,f,mean,simplify=FALSE)

 [1] -1.0586819 -0.2949236  1.4737961  0.3447895 -1.4761682  0.3706528
 [7]  0.0704924  0.7901618  0.4683821  0.3013561  1.7592999  1.1906478
[13] -0.5920976  1.1919536  1.4290217

 [1] 1 1 1 1 1 2 2 2 2 2 3 3 3 3 3
Levels: 1 2 3

         1          2          3
-0.2022376  0.4002090  0.9957651

$`1`
[1] -0.2022376

$`2`
[1] 0.400209

$`3`
[1] 0.9957651

In [68]:
x<-c(rnorm(5),runif(5),rnorm(5,1))
x

f<-gl(3,5)
f
split(x,f)
lapply(split(x,f),mean)

 [1] -0.23787320 -0.57121447 -0.19273509  0.53410378  1.08139589  0.89672555
 [7]  0.01071356  0.44177947  0.64500968  0.17850771  2.77576491  2.08815798
[13]  2.20707505 -0.59663651  0.61343929

 [1] 1 1 1 1 1 2 2 2 2 2 3 3 3 3 3
Levels: 1 2 3

$`1`
[1] -0.2378732 -0.5712145 -0.1927351  0.5341038  1.0813959

$`2`
[1] 0.89672555 0.01071356 0.44177947 0.64500968 0.17850771

$`3`
[1]  2.7757649  2.0881580  2.2070751 -0.5966365  0.6134393

$`1`
[1] 0.1227354

$`2`
[1] 0.4345472

$`3`
[1] 1.41756

In [77]:

s<-split(airquality,airquality$Month)

table(airquality$Month)

lapply(s,function(x) colMeans(x[,c("Ozone","Wind","Temp")]))
sapply(s,function(x) colMeans(x[,c("Ozone","Wind","Temp")],na.rm=TRUE))

 5  6  7  8  9
31 30 31 31 30

$`5`
   Ozone     Wind     Temp
      NA 11.62258 65.54839

$`6`
   Ozone     Wind     Temp
      NA 10.26667 79.10000

$`7`
    Ozone      Wind      Temp
       NA  8.941935 83.903226

$`8`
    Ozone      Wind      Temp
       NA  8.793548 83.967742

$`9`
Ozone  Wind  Temp
   NA 10.18 76.90

      5        6        7         8         9
Ozone 23.61538 29.44444 59.115385 59.961538 31.44828
Wind  11.62258 10.26667  8.941935  8.793548 10.18000
Temp  65.54839 79.10000 83.903226 83.967742 76.90000

In [85]:
x<-data.frame(v1=1:5,v2=c(10,7,9,6,8))
sort(x$v2)
sort(x$v2,decreasing=TRUE)

order(x$v2) #return the position of the order

x[order(x$v2),]

x[order(x$v2,x$v1,decreasing=TRUE),]#first v2,then sort the v4

[1]  6  7  8  9 10

[1] 10  9  8  7  6

[1] 4 2 5 3 1

  v1 v2
4 4   6
2 2   7
5 5   8
3 3   9
1 1  10

  v1 v2
1 1  10
3 3   9
5 5   8
2 2   7
4 4   6

In [87]:
head(airquality)#6 count from 1-6
tail(airquality,10)#the last 10 ones

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

    Ozone Solar.R Wind Temp Month Day
144 13    238     12.6 64   9     21
145 23     14      9.2 71   9     22
146 36    139     10.3 81   9     23
147  7     49     10.3 69   9     24
148 14     20     16.6 63   9     25
149 30    193      6.9 70   9     26
150 NA    145     13.2 77   9     27
151 14    191     14.3 75   9     28
152 18    131      8.0 76   9     29
153 20    223     11.5 68   9     30

In [88]:
summary(airquality)

     Ozone           Solar.R           Wind             Temp
 Min.   :  1.00   Min.   :  7.0   Min.   : 1.700   Min.   :56.00
 1st Qu.: 18.00   1st Qu.:115.8   1st Qu.: 7.400   1st Qu.:72.00
 Median : 31.50   Median :205.0   Median : 9.700   Median :79.00
 Mean   : 42.13   Mean   :185.9   Mean   : 9.958   Mean   :77.88
 3rd Qu.: 63.25   3rd Qu.:258.8   3rd Qu.:11.500   3rd Qu.:85.00
 Max.   :168.00   Max.   :334.0   Max.   :20.700   Max.   :97.00
 NA's   :37       NA's   :7
     Month            Day
 Min.   :5.000   Min.   : 1.0
 1st Qu.:6.000   1st Qu.: 8.0
 Median :7.000   Median :16.0
 Mean   :6.993   Mean   :15.8
 3rd Qu.:8.000   3rd Qu.:23.0
 Max.   :9.000   Max.   :31.0

In [89]:
str(airquality)

'data.frame':	153 obs. of  6 variables:
 $ Ozone  : int  41 36 12 18 NA 28 23 19 8 NA ...
 $ Solar.R: int  190 118 149 313 NA NA 299 99 19 194 ...
 $ Wind   : num  7.4 8 12.6 11.5 14.3 14.9 8.6 13.8 20.1 8.6 ...
 $ Temp   : int  67 72 74 62 56 66 65 59 61 69 ...
 $ Month  : int  5 5 5 5 5 5 5 5 5 5 ...
 $ Day    : int  1 2 3 4 5 6 7 8 9 10 ...

In [90]:
table(airquality$Month)

 5  6  7  8  9
31 30 31 31 30

In [91]:
table(airquality$Ozone,useNA="ifany")

   1    4    6    7    8    9   10   11   12   13   14   16   18   19   20   21
   1    1    1    3    1    3    1    3    2    4    4    4    4    1    4    4
  22   23   24   27   28   29   30   31   32   34   35   36   37   39   40   41
   1    6    2    1    3    1    2    1    3    1    2    2    2    2    1    1
  44   45   46   47   48   49   50   52   59   61   63   64   65   66   71   73
   3    2    1    1    1    1    1    1    2    1    1    2    1    1    1    2
  76   77   78   79   80   82   84   85   89   91   96   97  108  110  115  118
   1    1    2    1    1    1    1    2    1    1    1    2    1    1    1    1
 122  135  168 <NA>
   1    1    1   37

In [92]:
table(airquality$Month,airquality$Day)

    1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28
  5 1 1 1 1 1 1 1 1 1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  6 1 1 1 1 1 1 1 1 1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  7 1 1 1 1 1 1 1 1 1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  8 1 1 1 1 1 1 1 1 1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  9 1 1 1 1 1 1 1 1 1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1

    29 30 31
  5  1  1  1
  6  1  1  0
  7  1  1  1
  8  1  1  1
  9  1  1  0

In [97]:
sum(is.na(airquality$Ozone))#is there NA in air..zone?
#sum how many NAs
any(is.na(airquality$Ozone))#is there NA in air..zone?

[1] 37

[1] TRUE

In [98]:
all(airquality$Month<12)

[1] TRUE

In [105]:
titanic<-as.data.frame(Titanic)
head(titanic,2)
dim(titanic)
summary(titanic)

  Class Sex  Age   Survived Freq
1 1st   Male Child No       0
2 2nd   Male Child No       0

[1] 32  5

  Class       Sex        Age     Survived      Freq
 1st :8   Male  :16   Child:16   No :16   Min.   :  0.00
 2nd :8   Female:16   Adult:16   Yes:16   1st Qu.:  0.75
 3rd :8                                   Median : 13.50
 Crew:8                                   Mean   : 68.78
                                          3rd Qu.: 77.00
                                          Max.   :670.00

In [109]:
x<-xtabs(Freq~Class+Age,data=titanic)
x
ftable(x)

      Age
Class  Child Adult
  1st      6   319
  2nd     24   261
  3rd     79   627
  Crew     0   885

      Age Child Adult
Class
1st           6   319
2nd          24   261
3rd          79   627
Crew          0   885

In [110]:
object.size(airquality)
print(object.size(airquality),units="Kb")

5496 bytes

5.4 Kb